Package: com.csci.patcher.heroage
Name: heroage Cheats
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak from iOSGods.com!
Maintainer: Rxeyjn
Author: NP
Section: Tweaks
Homepage: https://iosgods.com
