Package: com.heroage.mod
Name: heroage Mod Menu
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: heroage Mod Menu by NP!
Maintainer: NP
Author: NP
Section: Tweaks
Homepage: NP
